.eventCatcher {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	cursor: default;
}

.st2{
	transition: opacity 2s;
}

.theDrawingText{
	position: absolute;
	left: 138.7px;
	top: 76px;
	border: solid 1px red;
	transform : matrix(1 0 0 1 89 79.9316)
}

#date{
	opacity: 0;
	color: white;
	position: fixed;
	z-index: 10000;
	font-size: 32px;
	left: 6%;
	top: 13%;
}

#shutter{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: black;
	transition: opacity 5s;
}

#credits{
	color: white;
	position: fixed;
	z-index: 9999999999;
	font-size: 20px;
	left: 6%;
	bottom: 6%;
	opacity: 0;
}

#credits > p{
	margin : 0px
}

#credits > p > a:link{
	color: grey;
}
#credits > p > a:visited{
	color: grey;
}
/*
.marielle{
	font-family: PicNic;
}*/

.back{
	color: red !important;
}