.eventCatcher {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	cursor: default;
}

.st2{
	transition: opacity 2s;
}

.theDrawingText{
	position: absolute;
	left: 138.7px;
	top: 76px;
	border: solid 1px red;
	transform : matrix(1 0 0 1 89 79.9316)
}